@import '../../App.scss';

.project-page {
    background-color: $ui-02;
    
    .blurb {
        color: $text-01;
        border: 1px solid $text-01;
        padding: 2rem;
        border-radius: 10px;
    }
}