@import '../../App.scss';

.project-page {
    background-color: $ui-01;

    .blurb {
        color: $text-02;
    }

    .chakra-accordion {
        margin-left: -1rem;
        margin-right: -1rem;
    }
}