@import '../../../App.scss';

.explore-stripe {
    background: rgb(0,71,255);
    background: linear-gradient(180deg, rgba(0,71,255,1) 0%, rgba(255,138,0,1) 40%);
    position: absolute;
    width: 16rem;
    top: 80vh;
    height: calc(100% - 80vh);
    left: calc(50% - 8rem);

    &__text {
        margin-top: 2rem;
        font-size: 18px;
        text-align: center;
        width: 100%;
        color: $ui-02;
        margin-bottom: 1rem;

        &__arrows {
            left: calc(50% - .5rem);
            width: 1rem;
            position: absolute;
        }
    }
}