@import '../../App.scss';

.disable-scroll {
    overflow-y:hidden;
}

.lightbox-zoomed-false {
    cursor: zoom-in;
}

.lightbox-zoomed-true {
    position:absolute;
    width: 100%;
    min-height: 100vh;
    z-index: 999;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: zoom-out;
    overflow-y: scroll;

    &__image {
        position:absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        padding: 2rem;
    }
}