@import '../../../App.scss';

.projects {
    &__container {
        min-height: 10rem;
    }

    &__austin-cold-image {
        transition: all 0.2s ease-in-out;
        position: absolute;
        max-height: 90vh;
        transform: rotate(5deg);
        left: -1rem;
        
        &:hover {
            cursor: pointer;
        }
    }

    &__read-more-button {
        background-color: $ui-01 !important;
        color: $ui-02;
        border-radius: 5px !important;
        border: 1px solid $interactive-01 !important;
        -webkit-box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2); 
        box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.2);

        &:hover {
            background-color: $interactive-01 !important;
        }
    }
}