@import '../../../App.scss';

.projects {
    background-color: $ui-02;

    &__image {
        box-shadow: 1rem 1rem 0px -1px $ui-01;
        -webkit-box-shadow: 1rem 1rem 0px -1px $ui-01;
        -moz-box-shadow: 1rem 1rem 0px -1px $ui-01;
        transition: all 0.2s ease-in-out;
        
        &:hover {
            cursor: pointer;
            box-shadow: 1rem 1rem 0px -1px $interactive-01;
            -webkit-box-shadow: 1rem 1rem 0px -1px $interactive-01;
            -moz-box-shadow: 1rem 1rem 0px -1px $interactive-01;
        }
    }

    &__read-more-button {
        background-color: $ui-01 !important;
        color: white;

        &:hover {
            background-color: $interactive-01 !important;
        }
    }

    .right-arrow {
        transform: rotate(-90deg);
        height: 1rem;
        margin-left: 1rem;
    }
}