@import '../../App.scss';

.home {
    scroll-snap-type: mandatory;
	scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;

    &__fix {
        background-color: $ui-01;
        height: calc(400vh + 5rem);
    }
    
}

.side-menu-container {
    position: fixed;
    z-index: 999;
    background-color: transparent;
    right: 0;
    height: 100%;
    width: 8rem;
    align-items: center;
    justify-content: flex-start;
    padding-right: 2rem;

    .side-menu {
        button{
            background-color: transparent;
            justify-content: flex-end;   
        }
    }
}