@import '../../App.scss';

.header {
    color: $text-02;
    
    &__letter {
        padding-right: .35rem;
        font-size: 64px;
        padding-bottom: 1rem;
        display: inline-block !important;
        text-shadow: .25rem .25rem 0px $highlight-01;
    }
}