.hero {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;

    &__name-header {
        position: absolute;
        left: 50%;
        top: 45vh;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        text-align: center;
        z-index: 1;
    }
    
}