@import '../../../App.scss';

.hero {
    height: 100%;
    width: 100%;
    scroll-snap-align: start;
    height: 100vh;
    position: relative;

    &__container {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 1rem;
        padding-top: .5rem;
        color:$ui-02;
        z-index: 8;
        
        h2 {
            padding-top: 0px;
        }
    }

    &__logo-container {
        display: inline-block;
        margin-right: 1rem;
        height:100%;
    }
    
    &__intro-container {
        width: 30rem;
        display: inline-block;
    }

    &__anim-tooltip {
        z-index: 100;
        margin-left: 4rem;
        margin-top: 5rem;
    }

    &__caption {
        color: $ui-02;
        font-size: 12px;
    }
}
