$ui-01: #0047FF;
$ui-02: #FAFAFA;
$ui-03: #1D1D1D;
$text-01: #1D1D1D;
$text-02: #F2F2F2;
$text-03: #0047FF;
$interactive-01: #FF8A00;

@font-face {
    font-family: RobotoMono;
    src: url('./assets/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: RobotoCondensed;
    src: url('./assets/fonts/RobotoCondensed/RobotoCondensed-Bold.ttf')
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Knewave;
    src: url('./assets/fonts/Knewave/Knewave-Regular.ttf');
}

body {
    margin: 0px;
    font-family: RobotoMono;
    font-size: 18px;
    background-color: $ui-01;
}

h1 {
    font-family: RobotoCondensed;
    font-size: 38px !important;
    color: $ui-01 !important;
}

h4 {
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    padding-bottom: 2rem;
}

h5 {
    font-size: 12px !important;
    font-weight: 100;
    max-width: 90%;
    text-align: center;
    color: #525252;
    padding-top: .5rem;
}

h2 {
    font-family: Roboto !important;
    font-weight: bold !important;
    font-size: 28px !important;
    padding-top: 2rem;
}


ol {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}

button {
    font-size: 12px !important;
    font-weight: lighter !important;
    border-radius: 0 !important;
    padding: .5rem !important;
    height: 2.5rem !important;
    border: 2px solid transparent !important;

    &:focus {
        border: 2px dashed $interactive-01 !important;
        box-shadow: none !important;
    }
}

a {
    color: $ui-01 !important;

    &:hover {
        color: $interactive-01 !important;
    }

    &:focus-visible {
        outline: none !important;
    }

    &:focus {
        box-shadow: none !important;
        border: 1px dashed $interactive-01; 
    }
}