@font-face {
    font-family: RobotoMono;
    src: url('./assets/fonts/RobotoMono/RobotoMono-VariableFont_wght.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: Knewave;
    src: url('./assets/fonts/Knewave/Knewave-Regular.ttf');
}

body {
    margin: 0px;
    font-family: RobotoMono;

    h1 {
        font-family: Roboto;
        font-size: 48px;
    }
}

.dashed-container {
    position: absolute;
    border: 2px dashed;
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: white;
    z-index:-1;
}

h5 {
    font-size: 12px !important;
    font-weight: 100;
    max-width: 90%;
    text-align: center;
    color: #525252;
    padding-top: .5rem;
}

h2 {
    font-weight: bold !important;
    font-size: 24px !important;
}


ol {
    margin-left: 2rem !important;
    margin-right: 2rem !important;
}