@import '../../App.scss';

.home-button-container {
    background-color: transparent !important;
    font-family: RobotoCondensed;
    
    .home-button {
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent !important;
        font-weight: 100;
        z-index: 9;
    }
}