@import '../../App.scss';

.hero {
    &__background {
        width: 100%;
        top: 0;
        height: 100vh;
        z-index:-1;
        background-color: $ui-01;
        scroll-snap-align: start;

        .react-p5 {
            height: 100%;
        }

        canvas {
            width: 100% !important;
            height: 100% !important;
        }

        button {
            position: absolute !important;
            top: calc(100vh - 4rem);
            left: calc(50% - 1rem);
            width: 2rem !important;
            border-radius: 2rem !important;
            background-color: $ui-01 !important;
            border: 2px solid $interactive-01 !important;
            z-index: 999;
            color: $ui-02;
        }
    }

    
}

.dashed-background {
    position: fixed;
    border: 2px dashed $interactive-01;
    width: calc(100% - 2rem);
    height: calc(100vh - 2rem);
    top: 0;
    z-index: 9;
    margin: 1rem;
}