@import '../../App.scss';

.hero {
    &__background {
        position: absolute;
        width: 100%;
        top: 0;
        height: calc(100% + 4rem);
        z-index:-1;
        background-color: $ui-01;

        .react-p5 {
            height: 100%;
        }

        canvas {
            width: 100% !important;
            height: 100% !important;
        }
    }
}